* {
    margin: 0;
   }
 
   .clock {
     width:80vw;
     height:100%;
     margin: 20vh auto;
     padding:15px;
     border-radius: 15px;
     text-align: center;
     font: bold 3rem monospace;
     background-image: linear-gradient(60deg, rgb(155, 189, 228)20%, rgb(207, 181, 209)80%);
   }
   @media(min-width:768px){
       .clock{
           width:40vw;
           font-size: 4rem;
       }
   }